#Nav-Container{
  display:flex;
  flex-direction: column;
  

}

.Nav-Text{
color: aliceblue;

}

#Logo {
  height: 100px;
  width: auto;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 66, 66);
}

.Header-link {
  color: rgb(255, 255, 255);

  font-size: 300%;
  margin-left: 5%;
  margin-right: 5%;
  text-decoration: none;
}

body {
  background-color: rgb(145, 145, 145);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

.Mugs-Header {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 300%;
  text-shadow: 2px 2px #000000;
}
#Mug-Link-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Mug-Link-Box {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  background-color: rgb(125, 93, 155);
  text-shadow: 2px 2px #000000;
  border-radius: 100px;
  width: 800px;
}



.User-Image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding-right: 20px;
}

.Product-Imagerow {
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Product-Image {
  height: 250px;
  width: 400px;
  object-fit: cover;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15%;
}

#Why-List-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#Why-List-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px #000000;
  background-color: rgb(129, 129, 129);

  width: 600px;
}

ul {
  list-style-type: "\2615";
  font-size: large;
}


#User-Review-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#User-Review-Box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.User-Review-Sub-Box {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}


.User-Image {
  margin-right: 20px;
  
  
}

p {
  font-size: large;
  text-shadow: 1px 1px #000000;
}

h2{
   text-shadow: 1px 1px #000000;

}

#Footer-Container {
  background-color: rgb(66, 66, 66);
  margin-top: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.Footer-Text {
  color: rgb(255, 255, 255);
  margin-left: 10%;
  margin-right: 10%;
}


.Social-Media-Logo {
  width: 40px;
  height: auto;
  margin-top: 20px;
}

.Text-Underlined {
  text-decoration: underline;
}

.Social-Media-Links {
  margin-left: 3%;
  margin-right: 3%;
}

#E-Mail {
  color: rgb(172, 146, 181);
}

a:hover {
  color: aqua;
}
